@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f8fbff;
}